
@font-face {
	font-family: 'PT Root UI';
    
    src: local('PTRootUIWebLight'),
	     url('light.woff2') format('woff2'),
	     url('light.woff') format('woff');
        
	font-weight: 300; /* light */
	font-style: normal;
}

@font-face {
    font-family: 'PT Root UI';
    
    src: local('PTRootUIWebRegular'),
	     url('regular.woff2') format('woff2'),
	     url('regular.woff') format('woff');
         
	font-weight: 400; /* normal */
	font-style: normal;
}

@font-face {
	font-family: 'PT Root UI';
    
    src: local('PTRootUIWebMedium'),
	     url('medium.woff2') format('woff2'),
	     url('medium.woff') format('woff');
        
	font-weight: 500; /* medium */
	font-style: normal;
}

@font-face {
	font-family: 'PT Root UI';
    
    src: local('PTRootUIWebBold'),
	     url('bold.woff2') format('woff2'),
	     url('bold.woff') format('woff');
        
	font-weight: 700; /* bold */
	font-style: normal;
}

@font-face {
	font-family: 'PT Root UI Variable';
    
    src: local('PTRootUIWebVF'),
	     url('vf.woff2') format('woff2-variations'),
	     url('vf.woff') format('woff-variations');
	
	font-weight: normal;
	font-style: normal;
}
