/* Font PT Root: Copyright ? ParaType, 2018. All rights reserved.*/
          
@font-face {
	font-family: 'PT Root VF';
	font-weight: normal;
	font-style: normal;
    src:
		url('./pt-root-vf.woff2') format('woff2-variations'),
		url('./pt-root-vf.woff') format('woff-variations');
}
