@property --back-color {
  syntax: "<color>";
  initial-value: rgb(245, 245, 245);
  inherits: false;
}

@property --fore-color {
  syntax: "<color>";
  initial-value: rgb(40, 41, 43);
  inherits: false;
}

@property --text-boldness {
  syntax: "<integer> | lighter | normal | bold | bolder";
  initial-value: 400;
  inherits: true;
}

@property --text-style {
  syntax: "normal | italic | oblique | <angle>";
  initial-value: normal;
  inherits: true;
}

/* Document
========================================================================== */

:root {
  --unit: 1.6rem;
  --space: 1.6rem;

  --font-thin: 100;
  --font-extra-light: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-heavy: 900;

  --default-text-size: var(--unit);
  --text-xs: calc(0.6875 * var(--unit));
  --text-sm: calc(0.875 * var(--unit));
  --text-md: calc(1.125 * var(--unit));
  --text-lg: calc(1.25 * var(--unit));
  --text-xl: calc(1.75 * var(--unit));
  --text-xxl: calc(2.25 * var(--unit));
  --text-xxxl: calc(3 * var(--unit));

  --default-interligne: 1.3;
  --interligne-xs: 1.1;
  --interligne-sm: 1.2;
  --interligne-md: 1.4;
  --interligne-lg: 1.2;
  --interligne-xl: 1.2;
  --interligne-xxl: 1.3;
  --interligne-xxxl: 1.3;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: var(--back-color);
  color: var(--clr-fg);
  font-family: system-ui;
  font-size: 1.6rem;
}

a {
  color: #a60011;
}

p {
  font-size: var(--text-size, 1.6rem);
  font-weight: var(--text-boldness);
  font-style: var(--text-style);
  line-height: 1.8;
  max-width: var(--paragraph-width);
  hyphens: auto;
  text-wrap: balance;
}

/* Page
========================================================================== */

.container {
  display: grid;
  padding: 4rem;
  grid-gap: 4rem;
  grid-template-areas:
    "header header"
    "paragraph letter"
    "paragraph characters";
  grid-template-columns: minmax(var(--paragraph-width), 1fr) 1.5fr;
  grid-template-rows: auto auto 1fr;
}

.header {
  grid-area: header;
  overflow: hidden;
  font-family: "JetBrains Mono", monospace;

  h1 {
    font-family: inherit;
    line-height: 1.6;
    white-space: nowrap;
  }

  p {
    max-width: unset;
    font-size: 1.3rem;
    line-height: 1.4;
    margin: 0;
  }
}

/* Text
========================================================================== */

.characters {
  grid-area: characters;
  font-size: 2.8rem;
}

.characters>* {
  margin: 1.5rem 0;
}

a.character {
  display: inline-block;
  padding: 0 0.5rem;
  text-decoration: none;
  color: inherit;

  font-family: var(--fontface);
  font-weight: var(--text-boldness);
  font-style: var(--text-style);

  &:hover {
    outline: 1px dashed currentColor;
  }
}

.letter {
  font-family: var(--fontface);
  font-weight: var(--text-boldness);
  font-style: var(--text-style);
  grid-area: letter;
  font-size: 28rem;
  line-height: 1;
}

.paragraph-container {
  grid-area: paragraph;
}

/* Form
========================================================================== */

form {
  padding: var(--unit, 1.6rem) 0;
  font-family: "JetBrains Mono", monospace;
}

label {
  display: block;
  line-height: 1.6;

  &+& {
    margin-top: 0.8rem;
  }

  input,
  span {
    display: inline-block;
    vertical-align: bottom;
  }

  input {
    min-width: 24rem;
  }

  span {
    min-width: 12rem;
  }

  &.c-checkbox.s-square {
    --size: 6rem;

    position: relative;
    display: inline-block;
    width: var(--size);
    height: calc(var(--size) / 1.6);
    user-select: none;

    span,
    input {
      display: inline-block;
      position: absolute;
      min-width: var(--size);
      left: 0;
      top: 0;
      cursor: pointer;
    }

    span {
      width: var(--size);
      line-height: calc(var(--size) / 1.6);
      text-align: center;

      border: 0.1rem solid currentColor;
      border-radius: 0.4em;

      &:has(+ input:checked) {
        background-color: var(--clr-fg);
        color: var(--back-color);
      }
    }

    input {
      opacity: 0;
    }
  }
}

/* ========================================================================
    Headings
========================================================================== */

:where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font);
  font-size: var(--text-size);
  font-weight: var(--text-boldness);
  font-style: var(--text-style);
  margin: 0;
  color: currentColor;
  text-rendering: geometricPrecision;
}

*+ :where(h1, h2, h3, h4, h5, h6) {
  margin-top: var(--space);
}

h1 {
  --text-size: var(--text-xxl);
  --text-interligne: var(--interligne-xxl);
}

h2 {
  --text-size: var(--text-xl);
  --text-interligne: var(--interligne-xl);
}

h3 {
  --text-size: var(--text-lg);
  --text-interligne: var(--interligne-xl);
}

h4 {
  --text-size: var(--default-text-size);
  --text-interligne: var(--default-interligne);
}

h5 {
  --text-size: var(--default-text-size);
  --text-interligne: var(--default-interligne);
}

h6 {
  --text-size: var(--text-xs);
  --text-interligne: var(--interligne-xs);
  letter-spacing: 0.1em;
}

h3 {
  text-wrap: balance;
}

h4 {
  text-wrap: balance;
}

h5 {
  text-transform: uppercase;
}

h6 {
  text-transform: uppercase;
}

/* downgrade */

*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6 {
  margin-top: var(--space);
}

/* ========================================================================
    Styles
========================================================================== */

.s-light {
  font-weight: 300;
}

.s-regular {
  font-weight: 400;
}

.s-medium {
  font-weight: 500;
}

.s-bold {
  font-weight: 700;
}

.s-extrabold {
  font-weight: 800;
}

.s-italic {
  font-style: italic;
}

[aria-hidden="true"] {
  display: none;
}

main {
  display: grid;
}

marquee {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  line-height: 2;
  font-family: system-ui;

  >*+*:not(sup)::before {
    content: '\262F';
    margin-inline: 0.4rem;
    font-style: normal;
    font-size: small;
    flex-basis: 2em;
    flex-shrink: 0;
    flex-grow: 1;
  }
}

.w-glyph {
  font-size: 16rem;
}

.w-charset {
  >button {
    display: inline-block;
    inline-size: 2em;
    cursor: pointer;
  }
}